.centerbar{
    background-color: rgb(0, 0, 0);
    color: white;
    width: 700px;
    height: 140px;
    font-family: monospace;
    margin-left: 370px;
    border-radius: 30px;
    margin-top: 20px;
    -webkit-box-shadow: 0px -1px 15px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -1px 15px -3px rgba(0,0,0,0.75);
    box-shadow: 0px -1px 15px -3px rgba(0,0,0,0.75);
}
.proimage{
    background-image: url(https://i.pinimg.com/564x/37/3f/79/373f79b980b16c00e46dafbf2bfed14d.jpg);
    height: 50px;
    width: 50px;
    margin-top: 10px;
    margin-left: 30px;
    border-radius: 30px;
    background-size: cover;
}
.writeup{
    width: 500px;
    height: 50px;
    border-style: none;
    border-radius: 20px;
    margin-left: 60px;
    color: black;
}
.cline{
    width: 630px;
    height: 1px;
    margin-top: 20px;
    background-color: rgb(255, 255, 255);
}
.cattaches{
    margin-left: 25px;
    margin-top: 10px;
    font-weight: 600;
    font-size: 15px;
}
 button{
    background-color: rgb(1, 163, 1);
    color: white;
    border-radius: 7px;
    
    
}